:root {
    --blanco: #f1f1f1;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --secudarioOscuro: rgb(0, 128, 128);
    --gris: #757575;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1rem = 16px */
    font-family: 'Krub', sans-serif;
    background-color: var(--blanco);
}

.contenedor {
    max-width: 90rem;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}

.nav-bg {
    background-color: var(--secundario);
}


.nav__btn_display, .nav__btn_close {
    padding: 2rem;
    color: var(--blanco);
    background-color: var(--secundario);
    border: var(--secundario);
    cursor: pointer;
}
.nav__btn_display:hover, .nav__btn_close:hover {
    background-color: var(--secudarioOscuro);
    color: var(--oscuro);
}
.nav__btn_close:hover {
    border-radius: 0 0 50% 0;
}
@media (min-width: 768px) {
    .nav__btn_display, .nav__btn_close {
        display: none;
    }
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    padding: 2rem;
    color: var(--blanco);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenido-hero h2 {
    margin: 0;
}

@media (max-width: 767px) {
    .inactive {
        display: none;
    }
    .active__block {
        display: block;
    }
    .active__flex {
        display: flex;
    }
}